*
!/src/main/java/
!/src/main/java/**
!/src/main/resources/
!/src/main/resources/**
/src/main/resources/assets/records.voidcraft/
/src/main/resources/assets/records.voidcraft/**
!build.gradle
!LICENSE
!README.md
